.cato {
  margin-left: 10vh;
}

.example {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: center;
  margin-left: 10vh;
}

.example .fadedbox {
  background-color: #2d2f33;
  position: absolute;
  top: 10vh;

  color: #fff;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  opacity: 0;
  width: 40vh;
  height: 25vh;
  /* margin-left: 4.8vh; */
}
.example:hover .fadedbox {
  opacity: 1;
}

.example .title {
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  transform: translateY(30px);
  -webkit-transform: translateY(30px);
}

.example .title {
  /* font-size: 2.5em;
	text-transform: uppercase; */
  opacity: 0;
  transition-delay: 0.2s;
  transition-duration: 0.3s;
  text-align: left;
  padding: 5vh;
}

.example .title .para {
  font-size: 14px;
}

.example:hover .title,
.example:focus .title {
  opacity: 1;
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}

figure {
  width: 80vh;
  height: 45vh;
  margin-left: 3vh;
  background: #fff;
  overflow: hidden;
  margin-bottom: 5vh;
}

.cato figure img {
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.cato figure:hover img {
  -webkit-transform: scale(1.3);
  transform: scale(1.3);
}
